<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is a simple small weather application which uses weatherstack.com API to fetch the weather data.</p>
        <p>It also uses a mapbox.com API to convert the location into latitude and longitude</p>
    </div>
    {{>footer}}
</body>
</html>